{% extends 'base.html '%}

{% block content %}


{% comment %} <div class="container" style="margin-top: 17px;">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-12 checkout">
            <h1>Checkout</h1>
        </div>
    </div>
</div> {% endcomment %}

<!-- Contact section starts -->

<section class="contact" id="contact" style="margin-top: 120px;">
    <h1 class="heading"><span>contact</span> us</h1>

    <div class="icons-container">
        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <h3>address</h3>
            <p>Bapunagar,ahmedabad</p>
        </div>
        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <p style="text-transform: lowercase;">sangamfashion19@gmail.com</p>
        
        </div>
        <div class="icons">
            <i class="fa-solid fa-square-phone-flip"></i>
            <h3>phone</h3>
            <p>+91 1234567890</p>
            
        </div>
    </div>

    <div class="row">
        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="your name" disabled/>
                <input type="email" placeholder="your email" disabled />
            </div>
            <div class="inputBox">
                <input type="number" placeholder="your number" disabled/>
                <input type="email" placeholder="your subject" disabled/>
            </div>
            <textarea placeholder="your message" id="" cols="30" rows="10" disabled></textarea>
            <a href="#" class="btn  btn-block" >Send</a>
        </form>

        <!-- <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15076.895928140826!2d72.83042476198248!3d19.1416704846227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1702051937998!5m2!1sen!2sin"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->


            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10689.637341051683!2d72.61556975189778!3d23.032341230271804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e869ac5ba23f3%3A0xc4dbe3a842d1c8c0!2sShiv%20Sangam%20Family%20Shop!5e0!3m2!1sen!2sin!4v1704118114078!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<!-- Contact section end -->








{% endblock %}